.name {
    font-size: 150%;
    font-weight: bold;
}

.insideinfo{
    
    font-size: 120%;
}

p {
    color:#099e97;
}

.pokebox{
    background-color: rgb(255, 255, 255);
    float: left;
    width: 20%;
    border-radius: 25px;
    margin-right: 1%;
    border: 5px solid #099e97;
}
.info{
    float: right;
    width: 70%;
}
.theimage{
    float: left;
    width: 30%;
    margin-top: 6%;
}

.pokebox:after {
    content: "";
    display: table;
    clear: both;
  }